html{
    margin: 0;
    background-color: darkgreen;
    body{
        display: flex;
        margin: auto;
        main{
            width: 40%;
            height: 60%;
            margin: auto;
            background-color: black;
        }
    }
}