$primary-color: #013220;
$secondary-color: #f5f5d0;

main {
    max-width: 250px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: $primary-color;
    text-align: center;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid white;
    }
    h2 {
        font-size: 2rem;
        color: $secondary-color;
        margin: 10px 0;
    }
    p {
        a {
            font-size: 1rem;
            color: $secondary-color;
            text-decoration: none;
            border: none;
            img {
                background-color: black;
                width: 2.6rem;
                height: 2.6rem;
                margin: 0 12px;
                transition: 1s;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}
